.form-errors
  - if form.object.errors.any?
    #error_explanation.alert.alert-danger
      %h2= t(".heading", count: form.object.errors.count, model: form.object.class.model_name.human)
      %ul
        - form.object.errors.full_messages.each do |message|
          %li= message