- if resource.errors.any?
  .alert.alert-danger.error-explanation
    .error-heading= t('errors.template.header', count: resource.errors.count, model: resource.class.model_name.human)
    %ul
      - resource.errors.full_messages.each do |msg|
        %li= msg