= simple_form_for(resource, url: (plural? ? collection_path: resource_path(resource))) do |form|
  = render 'form_errors',  form: form
  = render 'form_fields',  form: form
  = render 'form_actions', form: form
