.content-header
  .row
    .col
      %h1= t(".title", **inflections)

.content-body.overflow-y-auto.mb-2
  .row
    .col
      - if true
        = render 'simple_form', resource: @resource

.content-footer
  .row
    .col
      = render "edit_actions", resource: @resource
