:ruby
  scope = options.delete(:scope)
  data_attributes = {
    'acts-as-list-item':                true,
    'acts-as-list-item-uid':            resource.to_param,
    'acts-as-list-item-on-drop-target': url_for([:reposition, resource])
  }
  data_attributes['acts-as-list-item-scope'] = "#{scope}-#{resource.send(scope)}" if scope.present?

%span.btn.btn-xs.btn-default.acts-as-list-item{ data: data_attributes }
  %span.glyphicon.glyphicon-sort.fas.fa-sort