- if service.errors.any?
  = bootstrap_alert(context: :danger, class: 'error-explanation') do
    - message_default = t('errors.template.header', count: service.errors.count, model: service.class.model_name.human)
    .error-heading= t('errors.template.services.header', count: service.errors.count, model: service.class.model_name.human, default: message_default)
    %ul
      - service.errors.full_messages.each do |msg|
        %li= msg
