.content-header
  .row
    .col
      %h1= t(".title", **inflections)

.content-body.overflow-y-auto.mb-2
  .row
    .col
      - if true
        = render 'simple_form', service: @service

.content-footer
  .row
    .col
      = render "new_actions", service: @service
